# PEMDAS

In [1]:
# 2+3*2+(3-2)**4

# 2+3*2+(1)**4

# 2+3*2+1

# 2+6+1

In [2]:
2+3*2+(3-2)**4

2+3*2+(1)**4

2+3*2+1

2+6+1

9

In [3]:
print(2+3*2+(3-2)**4)   #line of code

2+3*2+(1)**4

2+3*2+1

2+6+1
# code, program, computer program

9

9

In [4]:
num = 2+3*2+(3-2)**4  #'=' assignment operator

In [5]:
num

9

In [6]:
salary = 5000

In [7]:
salary

5000

In [8]:
salary + 1000

6000

In [9]:
salary

5000

In [10]:
salary = salary +1000

In [11]:
salary

6000

In [12]:
salary +=500     #salary = salary + 500

In [13]:
salary

6500

In [14]:
salary *= 2

In [15]:
salary

13000

- () paranthesis,
- ** exponents,
- `*` multiplication,
- / division,
* `+` addition,
* `-` subtarction

In [16]:
e1 = "shahzad"

In [17]:
e1

'shahzad'

# Legality of Variables

1. we can use letter, number and underscore
2. Donot start with number
3. keyword, reserve words

In [18]:
print = "display screen"

In [19]:
print(2+6)

TypeError: 'str' object is not callable

In [20]:
"display screen"(2+4)

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\heras\AppData\Local\Temp\ipykernel_40380\3941713877.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  "display screen"(2+4)
C:\Users\heras\AppData\Local\Temp\ipykernel_40380\3941713877.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  "display screen"(2+4)
C:\Users\heras\AppData\Local\Temp\ipykernel_40380\3941713877.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  "display screen"(2+4)

TypeError: 'str' object is not callable

In [21]:
del print

In [22]:
print(2+6)

8

In [23]:
e1

'shahzad'

In [24]:
e1 = "Shazad Ahmed"

In [25]:
e1

'Shazad Ahmed'

In [26]:
#e1 = "Muhammad Shahzad Ahmed"

In [27]:
"Muhammad " + e1 # how to concatenate a string in a string variable

'Muhammad Shazad Ahmed'

In [28]:
e1  # e1 is still the previous value

'Shazad Ahmed'

In [29]:
e1 = "Muhammad " + e1  # update the variable e1

In [30]:
e1

'Muhammad Shazad Ahmed'

In [31]:
type(e1)

str

In [32]:
"38.72"

'38.72'

In [33]:
type("38.72")

str

In [34]:
# Type casting: changing the type of data from 1 type to another data type

In [35]:
mhrs = "38.72"

int, float, str

In [36]:
float(mhrs)

38.72

In [37]:
type(mhrs)

str

In [38]:
mhrs = float(mhrs)   #This is type casting

In [39]:
mhrs

38.72

In [40]:
"Its our" + 2 + "session"

TypeError: can only concatenate str (not "int") to str

In [41]:
"Its our" + str(2) + "session"

'Its our2session'

In [42]:
"Its our"  + "session" + str(2)

'Its oursession2'

In [43]:
"Its our "  + "session" + " " + str(2)

'Its our session 2'

In [48]:
e2 = "waqas"
e3 = "Hooriya"
e4 = "Dr. Syed Inayat"

Data Structure: That give Structure to the Data

List

In [49]:
employees = []

In [50]:
type(employees)

list

In [51]:
employees = ["Muhammad Shahzad Ahmed", e2, e3, e4, "Shamia"]

In [52]:
employees

['Muhammad Shahzad Ahmed', 'waqas', 'Hooriya', 'Dr. Syed Inayat', 'Shamia']

List is an ordered collection

In [54]:
# Python is a "0" zero-indexed language

In [55]:
employees[2]

'Hooriya'

In [56]:
employees[-3]

'Hooriya'

In [57]:
employees[4]

'Shamia'

In [58]:
int(mhrs)

38

In [59]:
len(employees)

5